.heart {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        width: 10%;
    }
    50% {
        width: 15%;
    }
    to {
        width: 10%;
    }
}